:root {
    --story-teller-font-size: 20px;
}

div.story-teller {
    background-color: #222222;
}

div.story-teller div.story-teller-background {
    background-color: #222222;
}

div.story-teller div.story-teller-text {
    background-color: rgba(0, 0, 0, 0.3);
}

div.story-teller div.story-teller-overlay {
    background-color: #222222;
}

p.paragraph-viewer-p {
    text-align: center;
    color: #eeeeee;
    font-size: var(--story-teller-font-size);
    margin-left: 2vw;
    margin-right: 2vw;
}